.container {
  min-height: 100vh;
  padding: 0 0 50px 0;
}

.Ai {
  border-radius: 30px;
  background: linear-gradient(to right, #43819C, #67CCF8);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 0 15px #67CCF8;
  border: none;
  color: #fff;
  padding: 10px 75px;
  overscroll-behavior: none;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 10px;

}